@import "./fonts/source-sans-pro";
@import "./fonts/source-serif-pro";

$color-accent: #eb2f06;

$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px,
);

$spacing-unit: 6px;

@import "../../../node_modules/sass-mq/mq";

//Mobile

@mixin ff-mobile-xxl {
  font-family: "Source Serif Pro";
  font-weight: 600;
  font-size: 64px;
  color: #000000;
  text-align: left;
  line-height: 72px;
}

@mixin ff-mobile-xl {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-size: 31px;
  color: #000000;
  text-align: left;
  line-height: 42px;
}

@mixin ff-mobile-l {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 25px;
  color: #000000;
  text-align: left;
  line-height: 30px;
}

@mixin ff-mobile-m {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  text-align: left;
  line-height: 24px;
}

@mixin ff-mobile-s {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  text-align: left;
  line-height: 18px;
}

//Desktop

@mixin ff-desktop-xxl {
  font-family: "Source Serif Pro";
  font-weight: 600;
  font-size: 86px;
  color: #000000;
  letter-spacing: -2.58px;
  text-align: left;
  line-height: 96px;
}

@mixin ff-desktop-xl {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-size: 41px;
  color: #000000;
  text-align: left;
  line-height: 54px;
}

@mixin ff-desktop-l {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 29px;
  color: #000000;
  text-align: left;
  line-height: 36px;
}

@mixin ff-desktop-m {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  text-align: left;
  line-height: 30px;
}

@mixin ff-desktop-s {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  text-align: left;
  line-height: 24px;
}

html,
body {
  @include ff-mobile-m;
  @include mq($from: tablet) {
    @include ff-mobile-m;
  }
}

h1 {
  @include ff-mobile-xxl;
  @include mq($from: tablet) {
    @include ff-desktop-xxl;
  }
}

h2 {
  @include ff-mobile-xl;
  @include mq($from: tablet) {
    @include ff-desktop-xl;
  }
}

h3 {
  @include ff-mobile-l;
  @include mq($from: tablet) {
    @include ff-desktop-l;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

//elements
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: $color-accent;
}

//objects

.o-box {
  padding: $spacing-unit * 4;

  &--light {
    background: #d8d8d8;
  }
}

.c-signature {
  text-align: right;
  padding: $spacing-unit * 4 0;

  &__img {
    width: 15 * $spacing-unit;
    @include mq($from: tablet) {
      width: 30 * $spacing-unit;
    }
  }
}

.c-wobble {
  padding: $spacing-unit * 10 $spacing-unit * 4;

  &__img {
    max-width: 100%;
  }
}

.c-hero {
  padding: $spacing-unit * 10 $spacing-unit * 4;
}

.c-about {
  max-width: 60rem;
  margin: auto;
  @include mq($until: desktop) {
    display: flex;
    flex-direction: column;
  }
  &__content {
    margin: 1rem;
    @include mq($from: desktop) {
      margin: 0 15rem;
    }
  }

  &__shape {
    max-width: 50%;
    margin: auto;
    @include mq($until: desktop) {
      order: 1;
    }
    @include mq($from: desktop) {
      float: left;
      margin: 1rem;
      shape-margin: 1rem;
      shape-outside: polygon(
        83.54% 90.56%,
        52.72% 96.79%,
        70px 99.86%,
        0px 88.4%,
        0px 23.7%,
        29.99% 6.39%,
        76.39% -0.47%,
        76.85% 7%,
        73.53% 14.41%,
        78.46% 24.72%,
        72.44% 40.19%,
        64.21% 45.88%,
        83.19% 51.79%,
        96.55% 67.36%,
        82.02% 75.81%,
        87.83% 84.99%
      );
    }
  }
}

//layout

.l-container {
  max-width: 50rem;
  margin: auto;
}

//utilities

.u-color-accent {
  color: $color-accent;
}

.u-padding {
  &-horizontal {
    padding-left: $spacing-unit * 2;
    padding-right: $spacing-unit * 2;
  }

  &-vertical {
    padding-top: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 2;

    &-l {
      padding-top: $spacing-unit * 4;
      padding-bottom: $spacing-unit * 4;
    }

    &-xl {
      padding-top: $spacing-unit * 2;
      padding-bottom: $spacing-unit * 2;
    }
  }
}
