@import "./fonts/source-sans-pro";
@import "./fonts/source-serif-pro";

@import "./settings/settings.global";
@import "./settings/settings.core";
@import "./settings/settings.colors";
@import "./settings/settings.fonts";

$spacing-unit: 6px;

//tools
@import "../../../node_modules/sass-mq/mq";
@import "./tools/tools.pxtorem";

//elements
@import "./elements/elements.reset";
@import "./elements/elements.fonts";



//objects

@import "./objects/objects.list-bare";
@import "./objects/objects.o-box";

//components

@import "./components/components.signature";
@import "./components/components.wobble";
@import "./components/components.about";
@import "./components/components.hero";
@import "./components/components.primary-nav";

//layout

.l-container {
  max-width: 50rem;
  margin: auto;
}

//utilities

.u-color-accent {
  color: $color-accent;
}

.u-padding {
  &-horizontal {
    padding-left: $spacing-unit * 2;
    padding-right: $spacing-unit * 2;
  }

  &-vertical {
    padding-top: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 2;

    &-l {
      padding-top: $spacing-unit * 4;
      padding-bottom: $spacing-unit * 4;
    }

    &-xl {
      padding-top: $spacing-unit * 8;
      padding-bottom: $spacing-unit * 8;
    }
  }
}
