---
permalink: /about.html
---
{% extends "layouts/base.njk" %}
{% block content %}
    <div class="c-about">
        <div class="c-about__content">
            <h1 class="u-padding-vertical-l">About <span class="u-color-accent">me</span></h1>
            <img src="/img/wobbly.svg" alt="" class="u-padding-vertical-l"/>
        </div>
        <div class="c-about__content">
            <p>
                From 2005 to 2009, I studied multimedia development at the IAD in
                Louvain-La-Neuve, Belgium.
            </p>
        </div>
        <img class="c-about__shape" src="/img/me.svg" alt="">
        <div class="c-about__content">
            <p>
                During my studies I was extremely lucky to meet extremely talented people like @albandf and
                @badou.
                At that time Adobe Flash was still a thing so AS3 was my first code love
                and expression mean. I still miss the freedom Flash gave us at the time.
                I also had the chance to learn CSS from the great and only @jeromecoupe. Seeing him explaining CSS
                floats is a life changing event. I also met @pvledoux who made a short but powerful appearance as PHP teacher.
            </p>
            <p>
                I started to work in 2009 for Emakina.eu where I developed a few
                "interactive experiences" in Flash. During that time I also met @kant312 and @dja with whom we endured a few Drupal websites.
            </p>
            <p>
                In 2011, I got married with the wonderful and lovely @aureliemoreels. I also
                started to work for my dad's construction company Soluce. The company
                grew fast and was lacking a proper way to track interventions. I
                developped for him a ticketting system. At that time, the PHP and JS
                ecosystem was booming so It seemd like I learned a new framework every
                week to keep up the pace. I learned Yii, BackboneJS, AngularJS,
                discovered some little known PHP framework called Laravel. In parallel
                to my work at Soluce I also did several freelance missions.
            </p>
            <p>
                I ended up joining @kant312, @pvledoux and @jeromecoupe at Tcheu! In 2014, I worked for a few
                months for Wepika, long story short, Prestashop ended up at the top of the stack
                of software I don't ever want to use ever again.
            </p>
            <p>
                In 2016, I started to work for BetterStreet. I discovered the joys and pains of mobile development using
                React Native and developped the citizen and
                admin putting a strong focus on UX. It was a pleasure to work and collaborate with @pibti  APIS.
            </p>
            <p>
                In 2019, I joined Belighted and finally got to work with @she whom I have crossed path with a
                couple of time.
                Along my frontend developer at Belighted, I started teaching "the dynamic web" at the IAD, crossing once
                again @badou &amp; @jeromecoupe path.
            </p>
            <p>
                In my free time, I enjoy taking care of my 3 children, having a good belgian beer while playing
                roleplaying
                games and discovering new itineraries to cycle to work.
            </p>
        </div>
    </div>
{% endblock %}